body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    text-align: center;
    color: #555;
}

h3 {
    color: #333;
    margin: 10px 0;
    font-family: 'Courier New', Courier, monospace;
}

p {
    color: #666;
    margin: 5px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
    background-color: rgb(97, 97, 97);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

.label {
    font-weight: bold;
    margin-right: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.genero {
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
    background-color: #f0f0f0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.carrito {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#catalogo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

#carrito button {
    margin-left: 10px;
    cursor: pointer;
    background-color: red;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 2px 5px;
}

.pelicula {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

}

.catalgo {
    text-align: center;
    color: #333;
    margin-top: 20px;
    padding-top: 20px;

}

button {
    cursor: pointer;
}

.pelicula img.poster {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    object-position: center;
    border: #000;
    justify-content: center;
    text-align: center;
}

.poster {
    width: 200px;
    height: 300px;
    object-fit: contain;
    border-radius: 10px;
    object-position: center;
    justify-content: center;
    text-align: center;
    background-color: #ffffff;

}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    border-radius: 8px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #000;
}

#confirmarPago {
    margin-top: 15px;
    padding: 8px 16px;
}